* {
    box-sizing: border-box;
}
.post-title {
    display: none;
}
.about_me {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
}
.about_me > div {
    width: 500px;
}
.main {
    text-align: center;
}
.main > * {
    margin-top: 8px;
    text-align: center;
}
.avctor {
    position: relative;
    display: inline-block;
}
.avctor .pic {
    height: 156px;
    width: 156px;
    margin-bottom: 10px;
    border: 4px solid #eee;
    border-radius: 50%;
}
.avctor .marsBox {
    position: absolute;
    background-color: #3eb4ff;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    border: 2px solid #fff;
    line-height: 37px;
    text-align: center;
    bottom: 0;
    right: 5px;
    padding: 5px;
}
.marsBox i {
    font-size: 25px;
    color: #fff;
}
.name {
    font-size: 24px;
    font-weight: 700;
}
.tag > div {
    color: #6a6a6a;
    padding: 4.5px 7.7px;
    font-size: 12px;
    margin-bottom: 5.5px;
    border-radius: 4px;
    background-color: #efefef;
    display: inline-block;
}
.footer {
    color: #8c92a4;
    padding: 15px 0;
    padding-left: 40px;
}
.footer > * {
    padding: 3px 0;
}

.footer i {
    margin-right: 10px;
    width: 14px;
    height: 14px;
}
